{{!-- a full listings page with query functions to sort products by location, variety --}}

<section class="sidebar">
  {{partial "sidebar"}}
</section>
<section class="products">
  {{partial "products"}}
</section>
