{{!-- {{#each product}}
  <div class='product-market-view'>

  </div>
{{/each}} --}}

{{#each}}
  <div class="item-view">
    {{#link-to "product" id}}
    <img {{bind-attr src=pic}}>
    <div>
      <h4>{{name}}</h4>
      <h4 class="price">${{retailPrice}}/LB</h4>
    </div>
    <p>{{userID.username}}</p>
    <span>(30 miles)</span>
    {{/link-to}}
  </div>
{{/each}}
