{{!-- {{#each product}}
  <div class='product-market-view'>

  </div>
{{/each}} --}}

<div class="item-view">
  <img src="http://fillmurray.com/300/300">
  <div>
    <h4>Product Name</h4>
    <h4 class="price">$30/LB</h4>
  </div>
  <p>Farm Name</p>
  <span>(30 miles)</span>
</div>

<div class="item-view">
  <img src="http://fillmurray.com/300/300">
  <div>
    <h4>Product Name</h4>
    <h4 class="price">$30/LB</h4>
  </div>
  <p>Farm Name</p>
  <span>(30 miles)</span>
</div>

<div class="item-view">
  <img src="http://fillmurray.com/300/300">
  <div>
    <h4>Product Name</h4>
    <h4 class="price">$30/LB</h4>
  </div>
  <p>Farm Name</p>
  <span>(30 miles)</span>
</div>

<div class="item-view">
  <img src="http://fillmurray.com/300/300">
  <div>
    <h4>Product Name</h4>
    <h4 class="price">$30/LB</h4>
  </div>
  <p>Farm Name</p>
  <span>(30 miles)</span>
</div>
