{{!-- the checkout page where buyers can make a purchase, display and make basic change to order (delete an item or change quantity) --}}
<div class="main-header">
  <h1>Shopping Cart</h1>
</div><!--main-header-->

<section class="content">
  <div class="shopping-cart">
    <div class="table-heading">
      <div class="product-name">
        Product
      </div>
      <div class="farm-name">
        Farm
      </div>
      <div class="product-option">
        Option
      </div>
      <div class="product-total">
        Total
      </div>
    </div>
    {{#each product}}
    <div class="table-row">
      <div class="product-name">
        {{name}}
      </div>
      <div class="farm-name">
        {{userID.username}}
      </div>
      <div class="product-option">
        Option
      </div>
      <div class="product-total">
        {{retailPrice}}
      </div>
    </div>
    {{/each}}
  </div>

  <div class="user-data">
    <div class="name">
    <label name="first-name" class="first-name"><h4>First name</h4>
      <input type='text' name="first-name" class="first-name"></input>
    </label>
    </div>
    <div class="name">
    <label name="last-name" class="last-name"><h4>Last name</h4>
      <input type='text' name="last-name" class="last-name"></input>
    </label>
    </div>
    <div class="name">
    <label name="company-name" class="company-name"><h4>Company</h4>
      <input type='text' name="company-name" class="compnay-name"></input>
    </label>
    </div>
    <div class="address">
    <label name="address" class="address-"><h4>Address</h4>
      <input type='text' name="address" class="address-"></input>
    </label>
    </div>
    <div class="zip">
    <label name="address" class="address-"><h4>Zip</h4>
      <input type='text' name="address" class="address-"></input>
    </label>
    </div>
    <div class="country">
    <label name="address" class="address-"><h4>Country</h4>
      <input type='text' name="address" class="address-"></input>
    </label>
    </div>
    <div class="phone">
    <label name="address" class="address-"><h4>Phone</h4>
      <input type='text' name="address" class="address-"></input>
    </label>
    </div>
    <div class="zip">
    <label name="address" class="address-"><h4>Email Address</h4>
      <input type='text' name="address" class="address-"></input>
    </label>
    </div>
  </div>

  <input type="button" class="checkout-button" value="Check Out" {{action "placeOrder"}}>
</section>
