{{!-- a landing page - marketing and site description --}}
<div class="index-header">
<h1>The Platform For Farmer-Direct Pecans</h1>
{{#link-to "market"}}Shop Farm Direct Pecans{{/link-to}}
</div>

<section class="tag">
  <h3>Buy Farm-Direct Pecans At Up 60% Less Than Market Cost</h3>
  <span>We eliminate layers in the supply chain - maximizing income for the farmer and lowering costs for the buyer. </span>
</section>

<div class="index-content">
  <div class="index-copy copy-1">
  <h4>Transforming the supply chain</h4>
  <p>
    The Pecan Exchange platform gives farmers direct access to the buyers for their crop, allowing them to have a larger share of the revenue. By being closer to the consumer, the farmer captures added value from his crop to support his family and community, while also investing in the future.
  </p>
  </div>

  <section class="about-us">
    <h2>About Us</h2>
    <p>Pecan Exchange is transforming the pecan supply chain through an innovative online platform that connects buyers directly with pecan farmers.  We eliminate layers in the supply chain - maximizing income for the farmer and lowering costs for the buyer.  </p>
    <img src="">
    <h4>How do farmers benefit?</h4>
    <p>Farmers normally receive only a small percentage of the value their crop generates. The farmer typically loses ownership in the earliest stage of this process. Pecan Exchange allows farmers to maintain ownership all  the way through the end sales, allowing them to have a larger share in the revenue generated.</p>
    <img src="">
    <h4>How do retailers benefit?</h4>
    <p>
      Pecan Exchange approach is trending business model in today’s world. More often than not, consumers are demanding more from the companies that are receiving their hard earned money.  Pecan Exchange’s farmer-direct platform allows our customers to know each farmer’s story.  And customers appreciate these stories.
    </p>
    <img src="">
    <h4>How do consumers benefit?</h4>
    <p>
      Through Pecan Exchange, pecan lovers have a access to pecans from premier growers throughout the USA – at prices comparable to mass-produced pecans. Best of all, pecan lovers get to “know who grows” their favorite pecan pie.
    </p>
  </section>

  <div class="index-copy copy-2">
    <h4>Transforming the supply chain</h4>
    <p>
      The Pecan Exchange platform gives farmers direct access to the buyers for their crop, allowing them to have a larger share of the revenue. By being closer to the consumer, the farmer captures added value from his crop to support his family and community, while also investing in the future.
    </p>
    {{#link-to "login"}}Build Your Custom Farm Store{{/link-to}}
  </div>
</div>
