{{!-- a full listings page with query functions to sort products by location, variety --}}

<div class="main-header">
  <h1>Browse Pecans</h1>
</div><!--main-header-->

<section class="content">
  
  <section class="sidebar">
    {{partial "sidebar"}}
  </section>
  <section class="products">
    {{partial "products"}}
  </section>

</section>
