{{!-- an individual product page. index shows the product and its details. /edit allows the grower to edit that page. --}}
<div class="main-header">
  <h1>Browse Pecans</h1>
</div><!--main-header-->
<section class="content">
  {{outlet}}
</section><!--content-->
